Repository GDSC-PKNU-21-22/To-Do-Android, pull requests merged in 2022-03, with the labels that each got.

#45 완료 FAB 누를 때 테스트
  app/build.gradle
  app/src/main/java/com/gdsc/todo/DispatcherProvider.kt
  app/src/main/java/com/gdsc/todo/DispatcherProviderImpl.kt
  app/src/main/java/com/gdsc/todo/di/DispatcherModule.kt
  app/src/main/java/com/gdsc/todo/ui/ToDoViewModel.kt
  app/src/main/java/com/gdsc/todo/ui/base/BaseViewModel.kt
  app/src/test/java/com/gdsc/todo/ui/FakeDispatcherProviderImpl.kt
  app/src/test/java/com/gdsc/todo/ui/ToDoViewModelTest.kt
  build.gradle
Labels: Test

#50 UI 다듬기
  app/src/main/java/com/gdsc/todo/ui/home/ToDoAdapter.kt
  app/src/main/res/layout/item_todo.xml
Labels: Home page, Layout

#54 패키지 구조 핫픽스
  app/src/main/java/com/gdsc/todo/di/module/DataSourceModule.kt
  app/src/main/java/com/gdsc/todo/di/module/DispatcherModule.kt
  app/src/main/java/com/gdsc/todo/di/module/LocalDatabaseModule.kt
  app/src/main/java/com/gdsc/todo/di/provider/DispatcherProvider.kt
  app/src/main/java/com/gdsc/todo/di/provider/DispatcherProviderImpl.kt
  app/src/main/java/com/gdsc/todo/ui/ToDoViewModel.kt
  app/src/main/java/com/gdsc/todo/ui/base/BaseViewModel.kt
  app/src/test/java/com/gdsc/todo/ui/FakeDispatcherProviderImpl.kt
Labels: Chore

#55 앱바에 정렬버튼 추가하기
  app/src/main/java/com/gdsc/todo/data/local/ToDoDao.kt
  app/src/main/java/com/gdsc/todo/data/local/ToDoLocalDataSource.kt
  app/src/main/java/com/gdsc/todo/data/local/ToDoLocalDataSourceImpl.kt
  app/src/main/java/com/gdsc/todo/ui/ToDoViewModel.kt
  app/src/main/java/com/gdsc/todo/ui/home/HomeFragment.kt
  app/src/main/res/drawable/ic_sort.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/menu/sort.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  app/src/test/java/com/gdsc/todo/ui/ToDoViewModelTest.kt
Labels: Feature, Layout, Test

#52 ViewModel 적용을 위한 코드 수정
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/gdsc/todo/AddToDo/AddToDoContract.kt
  app/src/main/java/com/gdsc/todo/AddToDo/AddToDoPresenter.kt
  app/src/main/java/com/gdsc/todo/BasePresenter.kt
  app/src/main/java/com/gdsc/todo/BaseView.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoActivity.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoContract.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoPresenter.kt
  app/src/main/java/com/gdsc/todo/model/ToDoRepository.kt
  app/src/main/java/com/gdsc/todo/model/dao/ToDoDao.kt
  app/src/main/java/com/gdsc/todo/model/db/ToDoDatabase.kt
  app/src/main/java/com/gdsc/todo/model/entity/MyToDoList.kt
  app/src/main/java/com/gdsc/todo/ui/AddToDo/AddToDoActivity.kt
  app/src/main/java/com/gdsc/todo/ui/ToDo/ToDoActivity.kt
  app/src/main/java/com/gdsc/todo/ui/ToDo/ToDoAdapter.kt
  app/src/main/java/com/gdsc/todo/ui/ToDoViewModel.kt
  app/src/main/res/layout/activity_add_to_do.xml
  app/src/main/res/layout/item_todo.xml
Labels: bug, Refactor
