Repository GDSC-PKNU-21-22/To-Do-Android, pull requests merged in 2022-02, with the labels that each got.

#30 추가화면 클릭이벤트 구현
  app/build.gradle
  app/src/main/java/com/gdsc/todo/Event.kt
  app/src/main/java/com/gdsc/todo/ui/ToDoViewModel.kt
  app/src/main/java/com/gdsc/todo/ui/addtodo/AddToDoActivity.kt
  app/src/main/res/layout/activity_add_todo.xml
  app/src/test/java/com/gdsc/todo/ui/ToDoViewModelTest.kt
Labels: Feature, Add page

#31 홈화면 생성
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/gdsc/todo/ui/BaseViewHolder.kt
  app/src/main/java/com/gdsc/todo/ui/home/HomeActivity.kt
  app/src/main/java/com/gdsc/todo/ui/home/ToDoAdapter.kt
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/item_todo.xml
Labels: Home page, Feature, Layout

#38 구조 수정 & Room적용
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/gdsc/todo/MainActivity.kt
  app/src/main/java/com/gdsc/todo/data/entity/ToDo.kt
  app/src/main/java/com/gdsc/todo/data/local/ToDoDao.kt
  app/src/main/java/com/gdsc/todo/data/local/ToDoLocalDataSource.kt
  app/src/main/java/com/gdsc/todo/data/local/ToDoLocalDataSourceImpl.kt
  app/src/main/java/com/gdsc/todo/data/room/Database.kt
  app/src/main/java/com/gdsc/todo/di/DataSourceModule.kt
  app/src/main/java/com/gdsc/todo/di/LocalDatabaseModule.kt
  app/src/main/java/com/gdsc/todo/model/ToDo.kt
  app/src/main/java/com/gdsc/todo/ui/ToDoViewModel.kt
  app/src/main/java/com/gdsc/todo/ui/addtodo/AddToDoActivity.kt
  app/src/main/java/com/gdsc/todo/ui/addtodo/AddToDoFragment.kt
  app/src/main/java/com/gdsc/todo/ui/base/BaseActivity.kt
  app/src/main/java/com/gdsc/todo/ui/base/BaseFragment.kt
  app/src/main/java/com/gdsc/todo/ui/base/BaseViewHolder.kt
  app/src/main/java/com/gdsc/todo/ui/home/HomeActivity.kt
  app/src/main/java/com/gdsc/todo/ui/home/HomeFragment.kt
  app/src/main/java/com/gdsc/todo/ui/home/ToDoAdapter.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_add_todo.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/item_todo.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/test/java/com/gdsc/todo/ui/ToDoViewModelTest.kt
  build.gradle
Labels: Home page, Feature, Add page, Refactor

#39 리사이클러뷰 에러
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/gdsc/todo/AddToDo/AddToDoActivity.kt
  app/src/main/java/com/gdsc/todo/AddToDo/AddToDoContract.kt
  app/src/main/java/com/gdsc/todo/AddToDo/AddToDoFragment.kt
  app/src/main/java/com/gdsc/todo/AddToDo/AddToDoPresenter.kt
  app/src/main/java/com/gdsc/todo/AddToDoActivity.kt
  app/src/main/java/com/gdsc/todo/MainActivity.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoActivity.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoAdapter.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoContract.kt
  app/src/main/java/com/gdsc/todo/ToDo/ToDoPresenter.kt
  app/src/main/java/com/gdsc/todo/model/ListDatasource.kt
  app/src/main/res/layout/activity_to_do.xml
  app/src/main/res/layout/item_todo.xml
Labels: bug
